*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #acc5daa2;
}
.contactform{
    width: 388px;
    height: 405px;
    margin-top: 45px;
    padding: 15px;
    background-color: #faeca8;
    border-radius: 20px;
    border: solid 5px rgb(246, 227, 105);
}
#email{
    
    width: 98%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#phoneno{
     width: 98%;
    height: 25px;
    margin-bottom: 20px;
     border-radius: 10px;
}
#reason{
    width: 98%;
    height: 25px;
    margin-bottom: 20px;
     border-radius: 10px;

}
button{
    width: 55px;
    height: 26px;
    display: flex;
    margin-top: 30px;
    margin-left: 42%;
    justify-content: center;
   
}
h1{
    
    background-color: #e4660b;
    text-align: center;
    margin-bottom: 20px;
    
}
button:hover{
    background-color: #e4660b;
}