* {
  margin: 0;
  padding: 0;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  background: #dfa2c6;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: x-large;
  margin-bottom: 1.5rem;
}


ul {
  margin: 0.5rem;
  margin-bottom: 1rem;
}
li {
  margin-left: 1.2rem;
}

.strong {
  color: green;
}
.medium {
  color: yellow;
}
.weak {
  color: red;
}